torch==2.7.1+cu118
torchvision==0.22.1+cu118
torchaudio==2.7.1+cu118
diffusers==0.27.0
transformers==4.28.0
accelerate
omegaconf
packaging
Pillow
tqdm
huggingface-hub==0.23.4
xformers==0.0.31
bitsandbytes
imageio
opencv-python
albumentations
pycocotools